extends layout

block content
  h1= title
  p Welcome to #{title}

  table(border="1", style="display:inline-block;padding:50px;")
    tbody
        tr
            td 1
            td hello
            td world